<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="@string/app_name"
        tools:replace="android:label">
        <activity android:name=".TextToMorseActivity" tools:node="remove" />
        <activity android:name=".OperationInputActivity" tools:node="remove" />
        <activity android:name=".OperatorSetupActivity" tools:node="remove" />
        <activity android:name=".SetUpActivity" tools:node="remove" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:screenOrientation,android:windowSoftInputMode"
            tools:ignore="LockedOrientationActivity,DiscouragedApi" />
        <service
            android:name=".prs.ProbeDataLayerService"
            tools:node="remove" />
    </application>
</manifest>
